*.csv
*.log
*.pyc
*.bak
*.log.lock
.DS_Store
.ftp*
.venv
.pyenv
.vite
.vimrc
.vscode/*
__pycache__/
node_modules/
data/config/eebus/certs/*
data/log/*
data/charge_log/*
data/daily_log/*
data/daily_totals/*
data/monthly_log/*
data/monthly_totals/*
data/backup/*.tar.gz
data/backup/*.openwb-backup*
data/restore/*.tar.gz
data/data_migration/*.tar.gz
data/generate_totals.lock
ramdisk/*
web/lastcommit
!.gitignore 
