*.csv
*.log
*.pyc
*.bak
*.log.lock
.DS_Store
.ftp*
.vscode/*
__pycache__/
node_modules/
data/log/*
data/charge_log/*
data/daily_log/*
data/monthly_log/*
data/backup/*.tar.gz
data/restore/*.tar.gz
ramdisk/*
web/lastcommit
!.gitignore 
