*.csv
*.log
*.pyc
*.bak
*.log.lock
.DS_Store
.ftp*
.vscode/settings.json
__pycache__
data/charge_log
data/daily_log
data/debug
data/graph
data/monthly_log
modules/soc_tesla/tokens.*
modules/soc_i3/token*
modules/soc_eq/soc_eq_acc_*
ramdisk/
web/settings/.htaccess
web/settings/.passwd
web/lastcommit
smarthome.ini
