typing-extensions>=4.15.0
jq>=1.11.0
paho-mqtt>=2.1.0
pymodbus>=3.13.0
lxml>=6.1.0
aiohttp>=3.13.5
schedule>=1.2.2
PyJWT>=2.12.1
bs4>=0.0.2
pkce>=1.0.3
cryptography>=47.0.0
msal>=1.36.0
python-dateutil>=2.9.0
umodbus>=1.0.4
pysmb>=1.2.13
pytz>=2026.1
grpcio>=1.80.0
protobuf>=7.34.1
ocpp>=2.1.0
websockets>=16.0
pycarwings3>=0.7.14
passlib>=1.7.4
evdev>=1.9.3
