# openwb-version:1
[Unit]
Description="Regelung openWB 2.0"

[Service]
User=openwb
WorkingDirectory=/var/www/html/openWB
ExecStartPre=-/var/www/html/openWB/runs/atreboot.sh
ExecStart=/var/www/html/openWB/packages/main.py
Restart=always

[Install]
WantedBy=multi-user.target
