# openwb-version:4
[Unit]
Description="Regelung openWB 2.0"
After=mosquitto_local.service

[Service]
User=openwb
WorkingDirectory=/var/www/html/openWB
ExecStartPre=-/var/www/html/openWB/runs/atreboot.sh
ExecStart=/var/www/html/openWB/packages/main.py
Restart=always
# extend timeout to 15min for long running atreboot
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
