.tariffs[data-v-dd67c8e4]{margin-top:20px}.tariff[data-v-dd67c8e4]{border:1px solid #ccc;padding:10px;margin-bottom:10px}.time-range[data-v-dd67c8e4]{display:flex;align-items:center}.time-range button[data-v-dd67c8e4]{margin-left:10px}
