.tariffs[data-v-5ed1a321]{margin-top:20px}.tariff[data-v-5ed1a321]{border:1px solid #ccc;padding:10px;margin-bottom:10px}.time-range[data-v-5ed1a321]{display:flex;align-items:center}.time-range button[data-v-5ed1a321]{margin-left:10px}
