@import '@inkline/inkline/css/variables/_index.scss';
@import '@inkline/inkline/css/mixins/_index.scss';

:root {
  --spacing: 0.5rem;
}

/* prevent touch gestures */
html, body {
  overscroll-behavior: none;
}

/* style scrollbar */
body {
  overflow-y: overlay;
}

/* Firefox */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: color('primary-70') transparent;
}

.large-button {
  height: 3.5rem !important;
  font-size: 1.5rem !important;
  padding: 0.75rem 1.5rem !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 2px grey;
//   border-radius: 2px;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: color('primary-70');
  border-radius: 2px;
}
