// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
// Check documentation for full list of Quasar variables
// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// Import SASS color module
@use 'sass:color' as color;
// Default colors
// $primary: #1976D2;
// $secondary: #26A69A;
// $accent: #9C27B0;
// $dark: #1D1D1D;
// $dark-page: #121212;
// $positive: #21BA45;
// $negative: #C10015;
// $info: #31CCEC;
// $warning: #F2C037;
/////////////////////////////////////////////////////////////////////
// Default Light Theme Base Colors
$primary: #5C93D1;
$secondary: #D2D2D7;
$accent: #546E7A;
$positive: #66BD7A;
$negative: #DB4F5F;
$info: #7DC5D4;
$warning: #D98E44;
$background-1: #E3E3EC;
$background-2: #EEEEF3;
$brown-text: #524F57;
$white: #FFFFFF;
$grey: #9E9E9E; // Quasar's default grey
$toggle-off: #E0E0E0;
$battery: #BA7128;
// Light theme (default)
:root {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  --q-positive: #{$positive};
  --q-negative: #{$negative};
  --q-info: #{$info};
  --q-warning: #{$warning};
  --q-background-1: #{$background-1};
  --q-background-2: #{$background-2};
  --q-brown-text: #{$brown-text};
  --q-white: #{$white};
  --q-grey: #{$grey};
  --q-toggle-off: #{$toggle-off};
  --q-flow-home-stroke: #{$grey};
  --q-battery: #{$battery};
  // Main background
  background-color: var(--q-background-1);
  // Text color
  color: var(--q-brown-text);
  .theme-text {
    color: var(--q-brown-text) !important;
  }
  .deselected {
    color: var(--q-grey) !important;
  }
  // Header colors
  .q-header {
    background-color: var(--q-background-2);
    color: var(--q-brown-text);
  }
  // Tab panel background
  .q-tab-panels {
    background-color: var(--q-background-2);
  }
  // Tab CSS
  .q-tab {
    background-color: var(--q-background-2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--q-secondary);
  }
  // Tab icon color
  .q-tab-icon {
    color: var(--q-primary);
  }
  // Tab active background color
  .q-tab--active {
    background-color: color.scale($secondary, $lightness: -2%);
  }
  // Carousel control arrows and buttons
  .q-carousel__control {
    .q-btn {
      &:before {
        box-shadow: none;
      }
      .q-icon {
        color: var(--q-primary);
        &:before {
          color: var(--q-primary);
          box-shadow: none;
        }
      }
    }
  }
  // Slide container background
  .q-carousel__slide {
    background-color: var(--q-background-2);
  }
  // Slide background
  .q-card {
    background-color: var(--q-secondary);
  }
  // Expansion item (expand arrow)
  .q-expansion-item__toggle-icon {
    color: var(--q-white);
  }
  // List background color, for menus etc
  .q-list {
    background-color: var(--q-background-2);
  }
  // Toggle button color in off position
  .q-toggle__thumb:after {
    background: var(--q-toggle-off);
  }
  // Toggle button color in on position
  .q-toggle__inner--truthy .q-toggle__thumb:after {
    background-color: currentColor;
  }
}
// Dark Theme Base Colors
$dark-page: #030627; // This overrides Quasar's default dark page color
$dark-primary: #3874DB;
$dark-secondary: #28293D;
$dark-accent: #546E7A;
$dark-positive: #3E8F5E;
$dark-negative: #C54D57;
$dark-info: #4B89AA;
$dark-warning: #D98E44;
$dark-background-1: #030627;
$dark-background-2: #010322;
$dark-list: #3C3E5C;
$dark-carousel: #8B8F9F;
$dark-tab-icon: #D7D9E0;
// Dark theme
.body--dark {
  --q-primary: #{$dark-primary};
  --q-secondary: #{$dark-secondary};
  --q-accent: #{$dark-accent};
  --q-positive: #{$dark-positive};
  --q-negative: #{$dark-negative};
  --q-info: #{$dark-info};
  --q-warning: #{$dark-warning};
  --q-background-1: #{$dark-background-1};
  --q-background-2: #{$dark-background-2};
  --q-white: #{$white};
  --q-grey: #{$grey};
  --q-carousel-control: #{$dark-carousel};
  --q-toggle-off: #{$toggle-off};
  --q-list: #{$dark-list};
  --q-tab-icon: #{$dark-tab-icon};
  --q-flow-home-stroke: #{$grey};
  --q-battery: #{$dark-warning};
  // Main background
  background-color: var($dark-page);
  // Text color
  color: var(--q-white);
  .theme-text {
    color: var(--q-white) !important;
  }
  .deselected {
    color: var(--q-grey) !important;
  }
  // Override default dark theme background
  body.body--dark {
    background: var($dark-page) !important;
  }
  // Header colors
  .q-header {
    background-color: var(--q-background-2);
    color: var(--q-white);
  }
  // Tab icon color
  .q-tab {
    .q-icon {
      color: var(--q-tab-icon) !important;
    }
  }
  // Tab panel background
  .q-tab-panels {
    background-color: var(--q-background-2);
  }
  // Tab CSS
  .q-tab {
    background-color: var(--q-background-2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--q-secondary);
  }
  // Tab active background color
  .q-tab--active {
    background-color: color.scale($dark-secondary, $lightness: 10%);
  }
  // Carousel control arrows and buttons
  .q-carousel__control {
    .q-btn {
      &:before {
        box-shadow: none;
      }
      .q-icon {
        color: var(--q-carousel-control);
        &:before {
          color: var(--q-carousel-control);
          box-shadow: none;
        }
      }
    }
  }
  // Slide container background
  .q-carousel__slide {
    background-color: var(--q-background-2);
    color: var(--q-white);
  }
  // Slide background
  .q-card {
    background-color: var(--q-secondary);
    color: var(--q-white);
  }
  // Input field text label color
  .q-field__label {
    color: var(--q-white);
  }
  // Input field icon color
  .q-field__control {
    .q-field__native::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  // Input field placeholder text color
  .q-placeholder {
    color: var(--q-white);
  }
  // List background color, for menus etc
  .q-list {
    background-color: var(--q-list);
  }
  // Menu text color
  .q-menu {
    .q-item__section {
      color: var(--q-white) !important;
    }
  }
  // Toggle button color in off position
  .q-toggle__thumb:after {
    background: var(--q-toggle-off);
  }
  // Toggle button color in on position
  .q-toggle__inner--truthy .q-toggle__thumb:after {
    background-color: currentColor;
  }
}
